{% extends "layout.html" %}

{% block title %}Title: Contact Me{% endblock %}
{% block heading1 %}This is Contact Page{% endblock %}
{% block logoName %}Yadav | ContactMe{% endblock %}

{% block content %}
<p class="bg-orange-300 font-bold text-2xl text-red-500">This is my contact information</p>
<p>
  Email: <a href="mailto:pokhrelyadav412@gmail.com">pokhrelyadav412@gmail.com</a><br>
  Phone: <a href="tel:+9779748706909">+977 9748706909</a><br>
  <address>Kathmandu, Nepal</address>
</p>


{% endblock %}