{% extends "layout.html" %} 

{% block title %}Electronics Product{% endblock %} 
{% block logoName %}Electronics{% endblock %}
{% block heading1 %}This is Electronics Page.{% endblock %} 
{% block headingcontent %}The data are fetched from DATABASE.{% endblock %}

{% block content %}

<div class='grid grid-cols-3 gap-4'>
    {% for product in allElectronicsList %}

    <div class="electronic-item m-2 p-3">
        <img   src="{{product.image.url}}" alt="" srcset="">
        <h3 class='text-2xl font-bold text-purple-800 '>{{product.name}}</h3>
        <a href="#">
            <button
             type='button'
             class ='w-[100%] bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded'
            >
                {{product.device_type}} -  {{product.id}}
            </button>
        </a>
    </div>



    {% endfor %}
</div>


{% endblock %}
