@import "tailwindcss";
@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

@layer base {
  code {
      background-color: #cfd1d3;
      color: #d23232;
      padding: 0.125rem 0.25rem;
      border-radius: 0.25rem;
    }
}