/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body */
html {
  height: 100%;
  background-color: white;
}

body {
  background-color: #f2f4f7;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background-color: #2d4f71;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.nav-links a {
  margin-left: 20px;
  padding-bottom: 2px;
  text-decoration: none;
  color: #d1d5db;
}

.nav-links a.active {
  color: #fff;
  border-bottom: 2px solid #dfb50d;
}

.nav-links a:hover {
  color: #08f824;
}

/* Page Layout */
.page {
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

/* Left & Right */
.left,
.right {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

#leftBelow {
  margin-top: 20px;
  height: 175px;
  width: 175px;
  overflow: hidden;
  border-radius: 20px;
}
#leftBelow img {
  transition: 0.3s;
  height: 100%;
}

#leftBelow img:hover {
  transform: scale(1.2);
}

.left h3,
.right h3 {
  margin-bottom: 12px;
}

/* Lists */
ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}

/* To make items look like menu items */
.left ul {
  margin-top: -6px;
  margin-left: 10px;
}

ul li a {
  text-decoration: none;
  color: #555;
}

ul li a:hover {
  color: #08f824;
}

ul li a.active {
  border-bottom: 2px solid #dfb50d;
}

/* Center Content */
.center {
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  height: 100%;
}

.center h1 {
  margin-bottom: 10px;
}

.center p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Inner section */
.section {
  padding-top: 10px;
  border-top: 1px solid #eee;
}

/* Footer */
.footer {
  margin-top: auto;
  padding: 15px;
  text-align: center;
  background-color: #1e3a56;
  color: #ccc;
}
